@* @Model IEnumerable <TestModel> *@
@{
    ViewData["Title"] = "TestModel";
}
<style> td { border: 1px solid black;  padding: 5px ;} </style>
<table>
     @foreach (var item in Model)
 {
     <tr>
         <td>@item.TypeProdukt</td> <td>@item.Price</td> <td>@item.Description</td>
     </tr>
 }

</table>


